body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

.flexible {
    display: flex;
    margin-bottom: 20px;
}

.first-div {
    width: 50%;
    padding: 8%;
}

.first-div img {
    width: 80%;
}

.orange-color {
    color: orange;
}

.button-color {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
}

.second-div {
    width: 40%;
    padding-left: 5%;
    padding-right: 5;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

    background-color: aqua;

}


.second-div img {
    width: 40%;
}

#first-image {
    background-color: powderblue;
}

#second-image {
    background-color: oldlace;
}

#third-image {
    background-color: peachpuff;
}

.align {
    text-align: center;
}